<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">

{% block metarefreash %}{% endblock %}
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="/media/css/jds_style.css" />
<link rel="icon" type="image/png" href="/media/images/favicon.ico">


{% block header %}{% endblock %}
</head>

<body id="home" class="default">
{% block headrail %} {% endblock %}

<div class="main">
   {% block content %}{% endblock %}
   </div>
</div>

{% block footrail %} {% endblock %}
</body>
</html>
